h1 {
	font-family: fantasy;
}

h1, h2, h3, h4, h5{
	text-align: center;
	margin: 1rem;
}

body {
	font-family: "Century Gothic";
	background-image: url("https://raw.githubusercontent.com/BenjaminCSchmidt/project0/master/static/img/bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

p {
	text-indent: 50px;
}

card {
	padding: 1rem;
	margin: 1rem;
}