$primary-color: lightgray;
$secondary-color: darkgray;
$font: "Courier New", Courier, monospace;

%fancy-text {
	font-weight: bold;
	text-shadow: 2px 2px $secondary-color;
	text-shadow: 4px 4px $primary-color;
}

.page-title {
	@extend %fancy-text;
}

#table_services {
	border-color: $primary-color;
	border-width: 2px;
}

h1, h2, h3, h4, h5{
	text-align: center;
	margin: 1rem;
}

body {
	font-family: $font;
	background-image: url("https://raw.githubusercontent.com/BenjaminCSchmidt/project0/master/static/img/bg-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

p {
	text-indent: 50px;
}

@media (max-width: 600px) {
	h1{
		visibility: hidden;
	}
	
}

div {
	font-size: 18px;

	ul, ol {
		font-size: 16px;
		color: $primary-color;

		li {
			font-size: 14px;
			color: $secondary-color;
			margin-top: 8px;
		}
	}
}
